<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<title>Tmath</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Javascript -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.4/angular.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/restangular/1.4.0/restangular.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-spinner/0.6.1/angular-spinner.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.5/angular-animate.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.10/toaster.min.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.6.0/lodash.min.js"></script>
	<script>
		var lodash = _;
	</script>

	<script type="text/javascript" src="//pineconellc.github.io/angular-foundation/mm-foundation-tpls-0.5.1.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/js/foundation.min.js"></script>
	
	<!-- Style -->
	
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.10/toaster.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.min.css" type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" type="text/css" />

	<style type="text/css">
		tfoot tr:first-child td,
		tfoot tr:first-child th {
			margin-top: 25px;
			border-top: 2px black solid;
		}
		.light-bg {
			text-align: left;
			background: rgba(255, 255, 255, 0.5);
			padding: 10px;
			box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 1);
			border-radius: 0px;
		}
		html, body{
        	font-size: 18px;
        }
		@media (max-width: 639px) {
            html, body{
            	font-size: 22px;
            }
        }
		@media (max-width: 369px) {
            html, body{
            	font-size: 22px;
            }
        }
        .postfix{
        	padding: 0;
        }
	</style>
</head>

<body style="background: url(https://ununsplash.imgix.net/photo-1422479516648-9b1f0b6e8da8?q=75&fm=jpg&s=c5f2b3df2a4c71532b3b354b8766503c) 50% 0 no-repeat #fff; background-attachment:fixed;">

	<div ng-app="myApp">
		<toaster-container></toaster-container>

		<div class="contain-to-grid sticky">
			<top-bar>
				<ul class="title-area">
					<li class="name">
						<h1><a href="#!/">Our awesome service</a></h1>
					</li>
					<li toggle-top-bar class="menu-icon"><a href="">Menu</a>
					</li>
				</ul>

				<top-bar-section>

					<!-- Left Nav Section -->
					<ul class="left">
						<li><a href="#!/">Matrix</a>
						</li>
						<li><a href="#!/projects">Projects</a>
						</li>
					</ul>
					
					<!-- Right Nav Section -->
					<ul class="right">
						<li><a>Logged as</a>
						</li>
						<li has-dropdown>
							<a href="">Anon.</a>
							<ul top-bar-dropdown>
								<li><a href="">Login</a>
								</li>
								<li><a href="">Register</a>
								</li>
							</ul>
						</li>
					</ul>
				</top-bar-section>
			</top-bar>
		</div>

		<ng-view autoscroll="true"></ng-view>

		<script type="text/ng-template" id="main.html">
			<div class="row">
				<div class="small-12 columns light-bg">

					<label for="m">M</label>
					<input id="m" ng-model="model.m" type="number" name="m" style="width: 200px" />

					<label for="n">N</label>
					<input id="n" ng-model="model.n" type="number" name="n" style="width: 200px" />

					<table>
						<thead>
							<tr>
								<th>C</th>
								<th ng-repeat="i in range(0, model.m) track by $index">
									{{ i }}
								</th>
							</tr>
						</thead>
						<tr ng-repeat="(row_idx, row) in model.C track by $index">
							<th>{{ row_idx }}</th>
							<td ng-repeat="(col_idx, col) in row track by $index">
								<input type="text" name="{{ 'C_'+row_idx+'_'+col_idx }}" ng-model="model.C[row_idx][col_idx]" />
							</td>
						</tr>
						<tfoot>
							<tr>
								<th>vU</th>
								<td ng-repeat="i in range(0, model.m) track by $index">
									<input type="text" name="{{ 'vU_'+i }}" ng-model="model.vU[i]" />
								</td>
							</tr>
						</tfoot>
					</table>

					<button ng-click="calculate">Calculate</button>
				</div>


				<div class="small-12 columns light-bg">
					<div class="panel">
						<h3>Result</h3>
						<pre>{{ result | json:4 }}</pre>
					</div>
				</div>
			</div>
		</script>

		<!-- PROJECTS LIST -->
		<script type="text/ng-template" id="projects.html">
			<div class="row">
				<div class="small-12 columns light-bg">
					<h2>Projects</h2>

					<ul class="side-nav" style="background: rgba(255,255,255,0.5); padding: 10px 0; box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 1); border-radius: 0px;">
						<li ng-repeat="project in projects">
							<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="{{ 'spinner-'+project._id }}"></span>

							<div class="row collapse">
								<div class="medium-8 columns">
									<a ng-href="{{ '#!/project/' + project._id }}" class="prefix button secondary">{{ project.name }}</a>
								</div>
								<div class="medium-2 small-6 columns">
									<button class="postfix" ng-click="edit(project)" ng-disabled="processing">
										<span class="fa fa-edit"></span>
									</button>
								</div>
								<div class="medium-2 small-6 columns">
									<button class="postfix button alert" ng-click="delete(project)" ng-disabled="processing">
										<span class="fa fa-trash"></span>
									</button>
								</div>
							</div>
						</li>
						<li>
							<form form name="create" ng-submit="newProject()">
								<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="{{ 'spinner-project-new' }}"></span>
								<label for="">New project</label>
								<div class="row collapse">
									<div class="medium-10 columns">
										<input required type="text" ng-model="name" name="name" placeholder="Project name" />
									</div>
									<div class="medium-2 columns">
										<button class="postfix" type="submit">
											<i class="fa fa-plus-circle"></i>
										</button>
									</div>
								</div>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</script>

		<!-- SINGLE PROJECT VIEW. TASKS LIST -->
		<script type="text/ng-template" id="project.html">
			<div class="row">
				<div class="small-12 columns light-bg">
					<h2>{{ project.name }}</h2>
					<ul class="side-nav" style="background: rgba(255,255,255,0.5); padding: 10px 0; box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 1); border-radius: 0px;">
						<li>
							<div class="row collapse">
								<div class="medium-1 small-3 columns">
									<button class="postfix" ng-click="edit(project.vectorTask, true)" ng-disabled="processing">
										<i class="fa fa-cog"></i>
									</button>
								</div>
								<div class="medium-11 small-9 columns">
									<a ng-click="edit(project.vectorTask, true)" class="prefix button secondary">vU task</a>
								</div>
							</div>
						</li>

						<li ng-repeat="task in tasks">
							<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="{{ 'spinner-'+task._id }}"></span>

							<div class="row collapse">
								<div class="medium-1 small-3 columns">
									<button class="postfix" ng-click="edit(task)" ng-disabled="processing">
										<i class="fa fa-cog"></i>
									</button>
								</div>
								<div class="medium-6 small-9 columns">
									<a ng-click="edit(task)" class="prefix button secondary">{{ task.name }}</a>
								</div>
								<div class="medium-2 small-6 columns">
									<a>Даты начала:<br/> {{ task.dateBegin1 }} <br/> {{ task.dateBegin2 }}</a>
								</div>
								<div class="medium-2 small-6 columns">
									<a>Даты завершения:<br/> {{ task.dateEnd1 }} <br/> {{ task.dateEnd2 }}</a>
								</div>
								<div class="medium-1 columns">
									<button class="postfix button alert" ng-click="delete(task)" ng-disabled="processing">
										<span class="fa fa-trash"></span>
									</button>
								</div>
							</div>
						</li>
						<li>
							<form form name="create" ng-submit="newTask()">
								<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="{{ 'spinner-task-new' }}"></span>
								<label for="">New task</label>
								<div class="row collapse">
									<div class="medium-10 columns">
										<input required type="text" ng-model="name" name="name" placeholder="Task name" />
									</div>
									<div class="medium-2 columns">
										<button class="postfix" type="submit">
											<i class="fa fa-plus-circle"></i>
										</button>
									</div>
								</div>
							</form>
						</li>
						<li>
							<button class="expand success" type="submit" ng-click="calculate()">
								<i class="fa fa-calculator"></i>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</script>

		<!-- EDIT PROJECT -->
		<script type="text/ng-template" id="edit_project.html">
			<h3>edit project</h3>

			<input type="text" ng-model="project.name" name="name" />

			<button class="button" ng-disabled="project.name==''" ng-click="ok()">OK</button>
			<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
		</script>

		<!-- DELETE PROJECT -->
		<script type="text/ng-template" id="delete_project.html">
			<h3>delete project</h3>
			<p>Are you sure?</p>
			<button class="button" ng-click="ok()">Yes</button>
			<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
		</script>

		<!-- EDIT TASK -->
		<script type="text/ng-template" id="edit_task.html">
			<h3>edit task [{{ task.name }}]</h3>

			<input type="text" ng-model="task.name" name="title" />

			<tabset>
				<tab heading="Ограничения">
					<ul class="side-nav">
						<li>
							<label for="{{ 'g_'+$id }}">(g) Самое раннее возможное время начала<small></small>
							</label>
							<input type="text" ng-model="task.g" name="{{ 'g_'+$id }}" />
						</li>
						<li>
							<label for="{{ 'h_'+$id }}">(h) Самое позднее возможное время начала<small></small>
							</label>
							<input type="text" ng-model="task.h" name="{{ 'h_'+$id }}" />
						</li>
						<li>
							<label for="{{ 'f_'+$id }}">(f) Самое раннее возможное время завершения<small></small>
							</label>
							<input type="text" ng-model="task.f" name="{{ 'f_'+$id }}" />
						</li>
						<li>
							<label for="{{ 'e_'+$id }}">(e) Самое позднее возможное время завершения<small></small>
							</label>
							<input type="text" ng-model="task.e" name="{{ 'e_'+$id }}" />
						</li>
						<li>
							<label for="{{ 'time_'+$id }}">(time) Время выполнения задачи<small></small>
							</label>
							<input type="text" ng-model="task.time" name="{{ 'time_'+$id }}" />
						</li>
					
						<!--<li ng-repeat="(key, boundary) in task.boundaries track by $index">
							<label for="{{ 'boundary_'+$id }}">Limit B<small>{{ key }}</small>
							</label>
							<input type="text" ng-model="task.boundaries[key]" name="{{ 'boundary_'+$id }}" />
						</li>
						<li>
							<div class="row collapse">
								<div class="small-6 columns">
									<button class="expand" type="submit" ng-click="addBoundary()">
										<i class="fa fa-plus-circle"></i>
									</button>
								</div>
								<div class="small-6 columns">
									<button class="expand alert" type="submit" ng-click="deleteBoundary()" ng-disabled="task.boundaries.length <= 2">
										<i class="fa fa-minus-circle"></i>
									</button>
								</div>
							</div>
						</li>-->
					</ul>
				</tab>
				<tab>
					<tab-heading>
						Связанные задачи
					</tab-heading>
					
					<ul class="side-nav" style="background: rgba(255,255,255,0.5); padding: 10px 0; box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 1); border-radius: 0px;">
						<li>
							<div class="row collapse">
								<div class="small-5 columns">
									&nbsp;
								</div>
								<div class="small-2 columns">
									<label for="{{ 'b_'+$id }}">Cтарт-Старт</label>
								</div>
								<div class="small-2 columns">
									<label for="{{ 'c_'+$id }}">Старт-Финиш</label>
								</div>
								<div class="small-2 columns">
									<label for="{{ 'd_'+$id }}">Финиш-Старт</label>
								</div>
								<div class="small-1 columns">
									&nbsp;
								</div>
							</div>
						</li>
						<li ng-repeat="relatedTask in task.relatedTasks track by $index">
							<div class="row collapse">
								<div class="small-5 columns">
									<a class="prefix button secondary">{{ getRelatedTaskName(relatedTask) }}</a>
								</div>
								<div class="small-2 columns">
									<input type="text" ng-model="relatedTask.b" name="{{ 'b_'+$id }}" />
								</div>
								<div class="small-2 columns">
									<input type="text" ng-model="relatedTask.c" name="{{ 'c_'+$id }}" />
								</div>
								<div class="small-2 columns">
									<input type="text" ng-model="relatedTask.d" name="{{ 'd_'+$id }}" />
								</div>
								<div class="small-1 columns">
									<button class="postfix button alert" ng-click="deleteRelatedTask(relatedTask)" ng-disabled="processing">
										<span class="fa fa-trash"></span>
									</button>
								</div>
							</div>
						</li>
						<li>
							<form form name="create" ng-submit="addRelatedTask()">
								<label for="">Add relation</label>
								<div class="row collapse">
									<div class="small-10 columns">
										<select required ng-model="newRelated.$task" name="newRelated" ng-options="item as item.name for item in possibleRelations track by item._id"></select>
									</div>
									<div class="small-2 columns">
										<button class="postfix" type="submit" ng-disabled="newRelated.$task == null">
											<i class="fa fa-plus-circle"></i>
										</button>
									</div>
								</div>
							</form>
						</li>
					</ul>
				</tab>
			</tabset>

			<button class="button" ng-disabled="task.name==''" ng-click="ok()">OK</button>
			<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
		</script>
		
		<!-- EDIT TASK OLDSTYLE -->
		<script type="text/ng-template" id="edit_task_boundaries.html">
		    <h3>edit task [{{ task.name }}]</h3>
		    
		    <input type="text" ng-model="task.name" name="title"/>
		    
		    <ul class="side-nav">
				<li ng-repeat="(key, boundary) in task.boundaries track by $index">
					<label for="{{ 'boundary_'+$id }}">Limit B<small>{{ key }}</small></label>
					<input type="text" ng-model="task.boundaries[key]" name="{{ 'boundary_'+$id }}"/>
				</li>
				<li>
					<div class="row collapse">
						<div class="small-6 columns">
							<button class="expand" type="submit" ng-click="addBoundary()">
								<i class="fa fa-plus-circle"></i> 
							</button>
						</div>
						<div class="small-6 columns">
							<button class="expand alert" type="submit" ng-click="deleteBoundary()" ng-disabled="task.boundaries.length <= 2">
								<i class="fa fa-minus-circle"></i> 
							</button>
						</div>
					</div>
				</li>
			</ul>
		    
		    <button class="button" ng-disabled="task.name==''" ng-click="ok()">OK</button>
		    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
	    </script>

		<!-- DELETE TASK -->
		<script type="text/ng-template" id="delete_task.html">
			<h3>delete task [{{ task.name }}]</h3>
			<p>Are you sure?</p>
			<button class="button" ng-click="ok()">Yes</button>
			<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
		</script>

		<!-- RESULT MODAL -->
		<script type="text/ng-template" id="result.html">
			<h3>Result</h3>
			<div class="row">
				<div class="small-12 columns light-bg">
					<div class="panel">
						<pre>{{ result | json:4 }}</pre>
					</div>
				</div>
			</div>
			<button class="button" ng-click="cancel()">OK</button>
			<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
		</script>

	</div>

	<script type="text/javascript" src="js/tmath.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>

</html>
